<div *ngIf="app.isHelperShow" class="container-fluid" id="helper">
    <audio autoplay muted
           [hidden]="true"
           [srcObject]="app.remoteStream?.mediaStream">
    </audio>
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="app.communicationState == 'calling'          ||
                        app.communicationState == 'caller'           ||
                        app.communicationState == 'initiatedCalling' ||
                        app.communicationState == 'initiatedCaller'"
                 [class.blinking]="isCalling"
                 [class.initiated]="isCallInitiated"
                 [class.denied]="isCallDenied">
                <img [src]="app?.callingUser?.image || app?.callerUser?.image" class="img-circle avatar-decoration" 
                     (click)="app?.callingUser ? app.selectDeselectUser(app.callingUser) : app.selectDeselectUser(app.callerUser)"/>
                <div *ngIf="app.communicationState == 'initiatedCaller' ||
                            app.communicationState == 'initiatedCalling'">{{duration}}</div>
            </div>
            <div *ngIf="(app.selectedUser                            && 
                        !app.isSelectedYou                           &&
                        app.communicationState != 'caller'           &&
                        app.communicationState != 'initiatedCalling' &&
                        app.communicationState != 'initiatedCaller') ||
                        app.communicationState == 'calling'" class="element"
                 [class.disabled]="isPhoneDisabled"
                 (click)="onInviteAcceptCall(localAudio, remoteAudio)">
                <img [src]="phoneIcon" class="icon" />
            </div>
            <div *ngIf="app.communicationState == 'calling'          ||
                        app.communicationState == 'initiatedCalling' ||
                        app.communicationState == 'initiatedCaller'" class="element last" 
                 (click)="onDenyCall()">
                <img [src]="hangupIcon" class="icon" />
            </div>
            <div *ngIf="app.communicationState == 'initiatedCalling' ||
                        app.communicationState == 'initiatedCaller'" class="element"
                 [class.blinking]="isVideoing"
                 [class.initiated]="isVideoInitiated"
                 [class.denied]="isVideoDenied"
                 [class.disabled]="isVideoing || isVideoInitiated"
                 (click)="onRequestVideo()">
                <img [src]="videoIcon" class="icon" />
            </div>
            <div *ngIf="app.videoState == 'videoRequesting'" style="padding-top: 0;">
                <div class="col-md-6 element accept-video"
                     (click)="onAcceptVideo()">
                    <i class="fa fa-check fa-lg"></i>
                </div>
                <div class="col-md-6 element"
                     (click)="onDenyVideo()">
                    <i class="fa fa-close fa-lg"></i>
                </div>
            </div>
            <div *ngIf="app._header.isDashboardActive" class="element search"
                 [style.width]="isSearchInitiated ? '101%' : 'inherit'"
                 [class.initiated]="isSearchInitiated"
                 (click)="onSearchShow(search)">
                <i class="fa fa-search fa-2x"></i>
            </div>
        </div>
    </div>
</div>