<div *ngIf="state == 'selected'" id="profile">
    <div class="col-md-12">
        <i *ngIf="app.isSelectedYou" class="fa fa-power-off fa-lg power-off"
           (click)="onLogout()">
        </i>
        <i *ngIf="!app.isSelectedYou" class="fa fa-angle-double-right fa-lg power-off"
           (click)="onHide()">
        </i>
        <tabset>
            <tab *ngFor="let tab of tabs"
                 [heading]="tab.title"
                 [active]="tab.active"
                 (select)="tab.active = true"
                 (deselect)="tab.active = false"
                 [disabled]="tab.disabled">
                <pm-basic-component *ngIf="tab.title == 'Basic'"
                                    [app]="app"
                                    [selectedUser]="app.selectedUser">
                </pm-basic-component>
                <pm-details-component *ngIf="tab.title == 'Details'"
                                      [app]="app"
                                      [selectedUser]="app.selectedUser">
                </pm-details-component>
                <pm-feedbacks-component *ngIf="tab.title == 'Wishes'"
                                        [app]="app"
                                        [selectedUser]="app.selectedUser">
                </pm-feedbacks-component>
            </tab>
        </tabset>
    </div>
</div>
