#profile {
    margin-top: 72px;
    font-weight: bold;
    color: var(--focus-border-color);
}
.col-md-12 {
    padding: 0;
}
.power-off {
    z-index: 1001;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}