@font-face {
  src: local('Walsheim'), url('../fonts/Walsheim.otf') format('truetype');
  font-family: 'Walsheim';
  font-style: normal;
  font-weight: normal;
}
:root {
    --main-aqua-color: #93e6ff;
    --link-color: #f7f7f7;
    --main-border-color: #e7e7e7;
    --focus-border-color: #808080;
    --inactive-text-color: #C7C7CD;
    --valid-color: #42A948;
    --invalid-color: #a94442;
    --good-color: aliceblue;
    --bad-color: antiquewhite;
}
html * {
    font-family: Walsheim;    
}
.nav > li > a {
    color: #333;
}
.dropdown-menu {
    overflow-y: scroll;
    max-height: 190px;
}
#login ul.nav-tabs {
    border-bottom: 1px solid var(--main-border-color);
}
#profile ul.nav-tabs {
    position: fixed;
    width: 30%;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid var(--main-border-color);
}
#profile a.nav-link.active {
    border-color: transparent;
    border-bottom-color: var(--main-aqua-color);
    background-color: var(--link-color);
}
#profile .nav > li > a {
    margin-right: 0;
    padding: 10px 10px;
}
#profile .nav > li > a:hover, 
#profile .nav > li > a:focus {
    border-color: transparent;
    background-color: var(--link-color);
    border-bottom-color: var(--main-aqua-color);
}
#login .nav > li > a:not(.active):hover, 
#login .nav > li > a:not(.active):focus {
    background-color: var(--link-color);
    border-bottom-color: var(--main-border-color);
}
#photos progressbar .progress {
    z-index: 1000;
    position: absolute;
    bottom: 0;  
    height: 5px !important;
    background-color: transparent !important;
    margin-bottom: 0 !important;
    bottom: 0;
    border-radius: 0;
    width: 100%
}
#photos progressbar .progress-bar {
    background-color: var(--main-aqua-color);
}
textarea:focus, input:focus{
    outline: none;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid var(--valid-color);
}
.ng-invalid:not(form)  {
    border-left: 5px solid var(--invalid-color);
}
::-webkit-scrollbar { 
    display: none; 
}
.form-control {
        border: 1px solid var(--main-border-color) !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
}
.form-control:focus {
    border: 1px solid #808080 !important;
}
.btn-default {
    border-color: var(--main-border-color) !important;
}
.btn-default:hover {
    background-color: var(--link-color) !important;
    border-color: var(--main-border-color) !important;
}
.no-padding {
    padding: 0 !important;
}
.blur {
    filter: blur(2px);
}
.image-loading {
    position: absolute;
    left: 50%;
    top: 50%;
}
.disabled {
    pointer-events: none;
}
.pickup-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-aqua-color);
    text-align: center;
    padding-top: 10px;
}
.pickup-form .avatar-decoration {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0px 0 10px black;
}
.pickup-form .progress {
    box-shadow: 0 0 5px gray;
    margin-top: 10px;
    margin-bottom: 0;
}
.pickup-form .progress .progress-bar {
    box-shadow: none;
    background-color: var(--main-aqua-color);
}
.pickup-form .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.pickup-form .rating > span {
    font-size: 40px;
    color: white;
}
.pickup-form .rating > span:hover:before,
.pickup-form .rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.pickup-form .coincidence {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.pickup-form .preferences {
    padding-left: 30px;
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.pickup-form .preferences div > i {
    padding-right: 20px;
    font-weight: initial;
}
.pickup-form .questions {
    padding-top: 5px;
}
.pickup-form .questions .question {
    width: 100%;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}
.pickup-form .questions .question .qheader {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}
.pickup-form .questions .question .qcategory {
    margin: auto;
    letter-spacing: 2px;
    width: 50%;
    font-weight: bold;
    font-size: 16px;
    background-color: teal;
    color: white;
}
.pickup-form .questions .question .qbody {
    margin: auto;
    padding-top: 5;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    word-break: break-all;
}
.pickup-form .buttons {
    padding-left: 0px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pickup-form .buttons > div {
    margin-top: 10px;
}
.pickup-form .buttons > div > button {
    width: 90%;
}
.pickup-form .buttons .btn-success {
    background-color: transparent;
    border-color: white;
    font-weight: bold;
    letter-spacing: 3px;        
}
.pickup-form .buttons .btn-success:focus {
    outline: none;
}

.pickup-form .buttons .btn-success:hover {
    background-color: transparent;
    border-color: whitesmoke;
    color: whitesmoke;
}
.pickup-form .buttons .btn-danger {
    background-color: transparent;
    color: #d43f3a;
    font-weight: bold;
    letter-spacing: 3px;    
}
.pickup-form .buttons .btn-danger:focus {
    outline: none;
}
.pickup-form .buttons .btn-danger:hover {
    color: #ac2925;
}
.pickup-form .buttons .btn-danger:active {
    background-color: transparent;
}

