@font-face {
  src: local('Walsheim'), url('../fonts/Walsheim.otf') format('truetype');
  font-family: 'Walsheim';
  font-style: normal;
  font-weight: normal;
}
:root {
    --main-aqua-color: #93e6ff;
    --link-color: #f7f7f7;
    --main-border-color: #e7e7e7;
    --focus-border-color: #808080;
    --valid-color: #42A948;
    --invalid-color: #a94442;
}
html * {
    font-family: Walsheim;    
}
.nav > li > a {
    color: #333;
}
.dropdown-menu {
    overflow-y: scroll;
    max-height: 190px;
}
#login ul.nav-tabs {
    border-bottom: 1px solid var(--main-border-color);
}
#profile ul.nav-tabs {
    position: fixed;
    width: 30%;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid var(--main-border-color);
}
#profile a.nav-link.active {
    border-color: transparent;
    border-bottom-color: var(--main-aqua-color);
    background-color: var(--link-color);
}
#profile .nav > li > a:hover, 
#profile .nav > li > a:focus {
    border-color: transparent;
    background-color: var(--link-color);
    border-bottom-color: var(--main-aqua-color);
}
#login .nav > li > a:not(.active):hover, 
#login .nav > li > a:not(.active):focus {
    background-color: var(--link-color);
    border-bottom-color: var(--main-border-color);
}
#photos progressbar .progress {
    z-index: 1000;
    position: absolute;
    bottom: 0;  
    height: 5px !important;
    background-color: transparent !important;
    margin-bottom: 0 !important;
    bottom: 0;
    border-radius: 0;
    width: 100%
}
#photos progressbar .progress-bar {
    background-color: var(--main-aqua-color);
}
textarea:focus, input:focus{
    outline: none;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid var(--valid-color);
}
.ng-invalid:not(form)  {
    border-left: 5px solid var(--invalid-color);
}
::-webkit-scrollbar { 
    display: none; 
}
.form-control {
        border: 1px solid var(--main-border-color) !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
}
.form-control:focus {
    border: 1px solid #808080 !important;
}
.btn-default {
    border-color: var(--main-border-color) !important;
}
.btn-default:hover {
    background-color: var(--link-color) !important;
    border-color: var(--main-border-color) !important;
}
.no-padding {
    padding: 0 !important;
}
