<div *ngFor="let toggle of searchToggles" class="btn-group dropdown" dropdown>
    <button id="dropdown-button" type="button" class="btn btn-primary" dropdownToggle>
        {{toggle.title}} <span [style.color]="'#93e6ff'"> {{preferences[toggle.name]}}</span> <span class="caret"></span>
    </button>
    <ul dropdownMenu role="menu" aria-labelledby="dropdown-button">
        <li *ngFor="let item of toggle.items" role="menuitem">
            <a class="dropdown-item" href="#"
               [id]="toggle.name"
               (click)="onSelectPreference($event)">{{item}}</a>
        </li>
    </ul>
</div>
<span>
    <input type="text" placeholder="e.g Andrew Ryzhkov"
           [(ngModel)]="searchUserData.name"
           [size]="searchUserData?.name?.length || 20"
           (keyup)="onSearchUsers($event)" />
</span>