#dashboard {
    height: 100%;
    padding-top: 10px;
}
#dashboard .header {
    width: inherit;
    color: var(--focus-border-color);
    font-weight: bold; 
    font-size: 18px; 
    margin-bottom: 10px;
    background-color: var(--main-aqua-color);
}
#dashboard .category {
    width: inherit;
    border-bottom: 1px solid var(--main-aqua-color);
    padding-left: 5px;
    color: var(--focus-border-color);
    font-weight: bold;
    margin-bottom: 10px;
}
#dashboard .category:hover {
    background-color: var(--main-aqua-color);
    color: white;
    cursor: pointer;
}
#dashboard .dropdown button {
    color: var(--focus-border-color);
    font-weight: bold;
    background-color: white;
    border: none;
    padding: 0 10px;
}
#dashboard .dropdown .dropdown-toggle {
    box-shadow: none;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color: var(--focus-border-color);
    padding-top: 5px;
    padding-bottom: 5px;
}
.profile:hover {
    background-color: var(--main-border-color);
}
.selected {
    background-color: var(--main-aqua-color) !important;
}
.profile .avatar-decoration {
    height: 60px;
    width: 60px;
    object-fit: cover;
}
.profile .avatar-dashboard {
    height: 80px;
    width: 80px;
}
.profile .name-dashboard {
    color: var(--focus-border-color);
    font-weight: bold;
    font-size: large;
}
.profile .close-size {
    font-family: monospace;
    font-size: 30px;
}
.online-decoration {
    position: absolute;
    top: 0;
    left: 20px;
}
.row-expanded {
    padding-left: 20px;
}
.row-expanded .digit {
    font-size: 20px;
    font-weight: bold;
}
.no-activities {
    text-align: center;
    font-size: 16px;
    color: var(--inactive-text-color);
}
.refresh {
    cursor: pointer;
}
::-webkit-input-placeholder {
  color: #777;
}