#login .login-outer {
    display: inline-flex
}
#login .login-inner {
    margin: 0 auto;
    margin-top: 5px;
}
input {
    font-weight: normal;
    margin-bottom: 5px;
}
label {
     margin-bottom: 0;
 }
.form-control:focus {
    box-shadow: none;
    outline: none;
}
.alert {
    padding: 5px;
}
.social {
    float: right;
}