<div *ngIf="app.isLoginShow" id="login">
    <div class="col-md-3"></div>
    <div class="col-md-12 login-outer">
    <div class="col-md-6 login-inner">
        <tabset>
            <tab *ngFor="let tab of tabs"
                 [heading]="tab.title"
                 [active]="tab.active"
                 (select)="tab.active = true"
                 (deselect)="tab.active = false"
                 [disabled]="tab.disabled">
                <alert *ngIf="alert.show" closable="true"
                       [type]="alert.type">
                       {{alert.reason}}
                </alert>
                <form *ngIf="tab.title == 'Login'" #loginForm="ngForm">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email"
                           [(ngModel)]="email" name="email"
                           [disabled]="pickupState == 'selected'"                           
                           #emailref="ngModel"
                           required />

                    <div class="alert alert-danger"
                         [hidden]="emailref.valid || emailref.pristine || emailref.disabled">
                         Email is required
                    </div>

                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           [(ngModel)]="password" name="password"
                           [disabled]="pickupState == 'selected'"
                           #passwordref="ngModel"
                           required />

                    <div class="alert alert-danger"
                         [hidden]="passwordref.valid || passwordref.pristine || passwordref.disabled">
                         Password is required
                    </div>

                    <button class="btn btn-default"
                            (click)="Login()"
                            [disabled]="!loginForm.form.valid">
                            Login
                    </button>

                    <div class="social">
                        <button scope="public_profile,email" class="btn btn-social-icon btn-facebook"
                            [disabled]="pickupState == 'selected'" 
                            (click)="onAuthSocial($event)">
                            <span class="fa fa-facebook"></span>
                        </button>

                        <button class="btn btn-social-icon btn-vk"
                            [disabled]="pickupState == 'selected'" 
                            (click)="onAuthSocial($event)">
                            <span class="fa fa-vk"></span>
                        </button>
                    </div>
                </form>

                <form *ngIf="tab.title == 'Register'" #registerForm="ngForm">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" id="firstname" placeholder="First name"
                           [(ngModel)]="firstname" name="firstname"
                           #firstnameref="ngModel"
                           required />

                    <div class="alert alert-danger"
                         [hidden]="firstnameref.valid || firstnameref.pristine">
                         First name is required
                    </div>

                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Last name"
                           [(ngModel)]="lastname" name="lastname"
                           #lastnameref="ngModel"
                           required />

                    <div class="alert alert-danger"
                         [hidden]="lastnameref.valid || lastnameref.pristine">
                         Lastname is required
                    </div>

                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email"
                           [(ngModel)]="email" name="email"
                           #emailref="ngModel"
                           required />

                    <div class="alert alert-danger"
                         [hidden]="emailref.valid || emailref.pristine">
                        Email is required
                    </div>

                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           [(ngModel)]="password" name="password"
                           #passwordref="ngModel"
                           required />

                    <div class="alert alert-danger"
                         [hidden]="passwordref.valid || passwordref.pristine">
                        Password is required
                    </div>

                    <label for="phrase">Phrase</label>
                    <input type="text" class="form-control" id="phrase" placeholder="Knowing of you begin with this phrase"
                           name="phrase"
                           maxlength="25"
                           #phraseref="ngModel"
                           [(ngModel)]="phrase"
                           (focusin)="onFocusinPhrase()"
                           (focusout)="onFocusoutPhrase()"
                           required />

                    <div class="alert alert-danger"
                         [hidden]="phraseref.valid || phraseref.pristine">
                        Phrase will tell a lot about you to others 
                    </div>

                    <div *ngIf="isPhraseFocused" class="alert alert-info">
                        Phrase must be maximum 25 characters long
                    </div>

                    <button class="btn btn-default"
                            (click)="Register()"
                            [disabled]="!registerForm.form.valid">
                            Register
                    </button>
                </form>
            </tab>
        </tabset>
    </div>
    </div>  
    <!-- TODO Make a component maybe -->
    <div class="pickup-form"
        [@pickupState]="pickupState">
        <div *ngIf="app.isPickupShow" class="row">
            <div class="col-md-2">
                <img class="img-circle avatar-decoration" src="images\users\evkb2qif.txr.jpg">
            </div>
            <div class="col-md-2">
                <div class="coincidence">
                    87 points
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                        45%
                    </div>
                </div>
                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>
            <div class="col-md-2 preferences">
                <div><i class="fa fa-check" aria-hidden="true"></i>Gender</div>
                <div><i class="fa fa-check" aria-hidden="true"></i>Age</div>
                <div><i class="fa fa-check" aria-hidden="true"></i>Location</div> 
                <div style="color: #d43f3a"><i class="fa fa-close" aria-hidden="true"></i>Hair</div>                
                <div><i class="fa fa-check" aria-hidden="true"></i>Eyes</div>
                <div><i class="fa fa-check" aria-hidden="true"></i>Hobby</div>                                                                                                              
            </div>
            <div class="col-md-4 questions">
                <div class="question">
                    <div class="qcategory">{{matchQuestions[indexMatchQuestion].category}}</div>
                    <div class="qbody">{{matchQuestions[indexMatchQuestion].text}}</div>
                </div>
            </div>
            <div class="col-md-2 buttons">
                <div><button type="button" class="btn btn-success"
                             (click)="onPickupInvite()">INVITE</button></div>
                <div><button type="button" class="btn btn-danger"
                             (click)="onPickupDecline()">DECLINE</button></div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
