<div class="pickup-form"
     [@pickupState]="pickupState"
     (@pickupState.done)="onPickupToggleDone($event)">
    <div *ngIf="app.isPickupShow" class="row">
        <div class="col-md-2">
            <img class="img-circle avatar-decoration" src="images\users\evkb2qif.txr.jpg">
        </div>
        <div class="col-md-2">
            <div class="coincidence">
                87 points
            </div>
            <div class="progress">
                <div [style.width]="pickupUser.progress + '%'"
                     class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-digit">{{pickupUser.progress}}%</div>
                </div>
            </div>
            <div class="rating">
                <span [ngClass]="pickupUser.gradeRating >= 0.5 ? 'fill' : 'empty'">☆</span>
                <span [ngClass]="pickupUser.gradeRating >= 1.5 ? 'fill' : 'empty'">☆</span>
                <span [ngClass]="pickupUser.gradeRating >= 2.5 ? 'fill' : 'empty'">☆</span>
                <span [ngClass]="pickupUser.gradeRating >= 3.5 ? 'fill' : 'empty'">☆</span>
                <span [ngClass]="pickupUser.gradeRating >= 4.5 ? 'fill' : 'empty'">☆</span>
            </div>
        </div>
        <div class="col-md-2 preferences">
            <div><i class="fa fa-check" aria-hidden="true"></i>Gender</div>
            <div><i class="fa fa-check" aria-hidden="true"></i>Age</div>
            <div><i class="fa fa-check" aria-hidden="true"></i>Location</div>
            <div style="color: red"><i class="fa fa-close"
                                       style="color: red" aria-hidden="true"></i>Hair</div>
            <div><i class="fa fa-check" aria-hidden="true"></i>Eyes</div>
            <div><i class="fa fa-check" aria-hidden="true"></i>Hobby</div>
        </div>
        <div class="col-md-4 questions">
            <div class="question">
                <div class="qcategory">{{matchQuestions[indexMatchQuestion]?.category}}</div>
                <div class="qbody">{{matchQuestions[indexMatchQuestion]?.text}}</div>
                <div class="qcheck">
                    <div *ngFor="let circle of matchQuestions; let i = index" class="fa fa-circle"
                         (click)="onChooseMatchQuestion(i)"
                         [style.color]="circle?.matchAnswerID == circle?.remoteMatchAnswerID ? '#42A948' : 'red'">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 buttons">
            <div>
                <button type="button" class="btn btn-success"
                        (click)="onPickupInvite()">
                    INVITE
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-danger"
                        (click)="onPickupDecline()">
                    DECLINE
                </button>
            </div>
        </div>
    </div>
</div>