<div class="container-fluid" id="notification">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 20%;">
            <div class="notifications">
                <div *ngIf="notifications?.length == 0" class="no-notifications">No notifications yet</div>
                <div *ngFor="let notification of notifications" class="col-md-12" style="margin-bottom: 5px" 
                     [ngClass]="notification.isShown ? 'shown' : 'notshown'">
                    <div class="col-md-2 div-avatar-padding">
                        <img class="img-circle avatar-decoration"
                             [src]="notification.object.RemoteUser.image" 
                             [class.blur]="false"
                             (click)="app.selectDeselectUser(notification.object.RemoteUser)" />
                    </div>
                    <div *ngIf="notification.type == 'answer'" class="col-md-10">
                        <div class="info-decoration">
                            <i class="name"
                               (click)="app.selectDeselectUser(notification.object.RemoteUser)">{{notification.object.RemoteUser.firstname + ' ' + notification.object.RemoteUser.lastname}}</i>
                            <i>answered </i><i [ngClass]="notification.object.Result ? 'result-true' : 'result-false'">{{notification.object.Result}}</i><i> on your question</i>
                            <div class="question">{{notification.object.QuestionAnswered}}</div>
                            <div class="date">{{notification.date | date:'medium'}}</div>
                        </div>
                    </div>
                    <div *ngIf="notification.type == 'feedback'" class="col-md-10">
                        <div class="info-decoration">
                            <i class="name"
                               (click)="app.selectDeselectUser(notification.object.RemoteUser)">{{notification.object.RemoteUser.firstname + ' ' + notification.object.RemoteUser.lastname}}</i>
                            <i>leaved </i><i [ngClass]="notification.object.Result ? 'result-true' : 'result-false'"
                                             [innerHTML]="notification.object.Result ? 'positive' : 'negative'">positive</i><i> feedback</i>
                            <div class="question">{{notification.object.Text}}</div>                            
                            <div class="date">{{notification.date | date:'medium'}}</div>                                                       
                        </div>
                    </div>
                    <div *ngIf="notification.type == 'qlike'" class="col-md-10">
                        <div class="info-decoration">
                            <i class="name"
                               (click)="app.selectDeselectUser(notification.object.RemoteUser)">{{notification.object.RemoteUser.firstname + ' ' + notification.object.RemoteUser.lastname}}</i>
                            <i [ngClass]="notification.object.Result ? 'result-true' : 'result-false'"
                                             [innerHTML]="notification.object.Result ? 'liked' : 'disliked'"></i><i> your quote</i>
                            <div class="question">{{notification.object.Message}}</div>
                            <div class="date">{{notification.date | date:'medium'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>