<div class="container-fluid" id="notification">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 20%;">
            <div class="notifications">
                <div *ngIf="notifications?.length == 0" class="no-notifications">No notifications yet</div>
                <div *ngFor="let notification of notifications" class="col-md-12" style="margin-bottom: 5px" 
                     [ngClass]="notification.isShown ? 'shown' : 'notshown'">
                    <div class="col-md-2 div-avatar-padding">
                        <img [src]="notification.object.RemoteUser.Image" 
                             [class.blur]="false" class="img-circle avatar-decoration" />
                    </div>
                    <div *ngIf="notification.type == 'answer'" class="col-md-10">
                        <div class="info-decoration">
                            <i class="name">{{notification.object.RemoteUser.Firstname + ' ' + notification.object.RemoteUser.Lastname}}</i>
                            <i>answered </i><i [ngClass]="notification.object.Result ? 'result-true' : 'result-false'">{{notification.object.Result}}</i><i> on your question</i>
                            <div class="question">{{notification.object.QuestionAnswered}}</div>
                            <div class="date">7 Mar at 11:54 PM</div>
                        </div>
                    </div>
                    <div *ngIf="notification.type == 'feedback'" class="col-md-10">
                        <div class="info-decoration">
                            <i class="name">{{notification.object.RemoteUser.Firstname + ' ' + notification.object.RemoteUser.Lastname}}</i>
                            <i>leaved </i><i [ngClass]="notification.object.Result ? 'result-true' : 'result-false'"
                                             [innerHTML]="notification.object.Result ? 'positive' : 'negative'">positive</i><i> feedback</i>
                            <div class="question">{{'"' + notification.object.Text + '"'}}</div>                            
                            <div class="date">7 Mar at 11:54 PM</div>                                                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>