#questions {
    margin-top: 40px;
}
.questions-content {
    margin-top: 30px;
    margin-bottom: 29px;
}
.header {
    z-index: 1000;
    position: fixed;
    left: 70%;
    right: 0;
    color: white;
    text-align: center;
    background-color: var(--main-aqua-color);
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}
.arrow-back {
    z-index: 1001;
    position: fixed;
    top: 100px;
    left: 70.2%;
    cursor: pointer;
}
.question-decoration {
    font-size: 16px;
    border-bottom: 1px solid var(--main-border-color);
    margin-bottom: 0;
    padding: 10px 20px;
}
.question-decoration textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--main-border-color);
    resize: none;
}
.question-decoration textarea:focus {
    border-bottom: 1px solid var(--focus-border-color);
}
.plus {
    z-index: 1001;
    position: fixed;
    top: 100px;
    right: 10px;
    cursor: pointer;
}
.pencil {
    position: absolute;
    right: 27px;
    line-height: 0;
}
.pencil:hover {
    cursor: pointer;
    color: var(--valid-color);
}
.trash {
    position: absolute;
    right: 10px;
    line-height: 0;
}
.trash:hover {
    cursor: pointer;
    color: var(--invalid-color);
}
form {
    margin-bottom: 0;
}
.alert {
    padding: 0;
    padding-left: 5px;
    width: 82%;
    font-size: 13px;
}
.no-questions {
    color: var(--inactive-text-color);
    text-align: center;
    font-size: 18px;
}
