<nav id="navbar-top" class="navbar navbar-default navbar-fixed-top">
  <div *ngIf="headerIsShow" id="header" class="container-fluid">   
  	<headnav [profileImage]="headerProfileImage"></headnav>
  </div>
</nav>
<div class="fill container-fluid">
    <div class="fill padding-nav row">
      <div id="left-column" class="fill left-stripe col-md-1">
          <helper [phoneIconPath]="helperPhoneIconPath"
                  [phoneHangupIconPath]="helperPhoneHangupIconPath">
          </helper>
      </div>
      <div id="central-column" class="fill content col-md-10">
          <router-outlet></router-outlet>
      </div>
      <div (mouseout)="onMouseOutProfileMenu($event)" id="right-column" class="fill right-stripe col-md-1">
          <profilemenu *ngIf="profilemenuIsShow"
                       [acceptIconPath]="profilemenuAcceptIconPath"
                       [declineIconPath]="profilemenuDeclineIconPath"></profilemenu>
      </div>
    </div>
</div>
<nav id="navbar-bottom" class="navbar navbar-default navbar-fixed-bottom">
  <div *ngIf="footerIsShow" id="footer" class="container-fluid">
      <foot [updateIconPath]="footerUpdateIconPath"
            [searchIconPath]="footerSearchIconPath">
      </foot>
  </div>
</nav>