<nav id="navbar-top" class="navbar navbar-default navbar-fixed-top">
  <div *ngIf="appHeaderIsShow" class="container-fluid">   
  	<headnav [profileImage]="headerProfileImage"></headnav>
  </div>
</nav>
<div class="fill container-fluid">
    <div class="fill padding-nav row">
      <div id="left-column" class="fill right-stripe col-md-1">
          <helper></helper>
      </div>
      <div class="fill content col-md-10">
          <router-outlet></router-outlet>
      </div>
      <div id="right-column" class="fill left-stripe col-md-1">
          <profilemenu></profilemenu>
      </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div *ngIf="appFooterIsShow" class="container-fluid">
      <foot [myname]="lol" (myevent)="handleMyEvent($event)"></foot>
  </div>
</nav>