#search-icon:hover {
    cursor:pointer;
    background: rgba(128, 128, 128, 0.5);
}
#update-icon:hover {
    cursor:pointer;
    background: rgba(128, 128, 128, 0.5);
}
.navbar-link {
    text-decoration: none !important;    
}
.update-text-decoration {
    padding-left: -5px;
}
.search-input-decoration {
    font-size: 14px;
    margin-left: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.margin-correction {
    margin-top: 12px;
    margin-bottom: auto; 
}