.navbar-text {
    font-size: 25px;
    margin: 8px 0 0 0;
    padding: 0 15px 4px 15px;
}
.navbar-link {
    text-decoration: none;    
}
.img-align {
    padding: 5px 0;
    margin: 0 5px;
    width: 45px;
}
.navbar-right .notification-img-decoration {
    position:absolute;
    top: 3px;
    left: 15px;
    color: #337ab7;
}
.navbar-right .notification-digit-decoration {
    position:absolute;
    top: -1px;
    color: white;
}
.selected {
    border-bottom: 3px solid aqua;
}