.nav-li-decoration:hover {
    cursor: pointer;
    background: rgba(128, 128, 128, 0.5);
}
.padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-image-decoration {
    display: block;
    margin: 10px auto;
    height: 25px;
}
.calling {
    background-color: aqua;
}
.initiated {
    background-color: aqua;
}
.disabled {
    pointer-events: none;
}
.denied {
    background-color: lightcoral;
}