:host >>> .without-padding {
    padding: 0;
    width: 50px;
}
:host >>> .center-child-div {
    display: table;
    position: relative;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
    cursor: pointer;
}
:host >>> .center-child-div .online-img-decoration {
    position:absolute;
    top: 0;
    left: 0;
}
:host >>> .green {
    color: green;
    font-weight: bold;
}
:host >>> .red {
    color: red;
    font-weight: bold;
}
:host >>> .name {
    color: #23527c;
    font-weight: bold;
}
:host >>> .notification-decoration {
    background-color: aliceblue;
}