<div class="container-fluid">
    <div *ngIf="!isOpenPhotos" class="row">
        <div class="col-md-12 main-column-decoration">
            <tabset>
                <tab [heading]="tabs[0].title"
                     [active]="tabs[0].active"
                     [disabled]="tabs[0].disabled"
                     (select)="tabs[0].active = true"
                     (deselect)="tabs[0].active = false">
                </tab>
                <tab [heading]="tabs[1].title"
                     [active]="tabs[1].active"
                     [disabled]="tabs[1].disabled"
                     (select)="tabs[1].active = true"
                     (deselect)="tabs[1].active = false">
                </tab>
                <tab [heading]="tabs[2].title"
                     [active]="tabs[2].active"
                     [disabled]="tabs[2].disabled"
                     (select)="tabs[2].active = true"
                     (deselect)="tabs[2].active = false">
                </tab>
                <tab [heading]="tabs[3].title"
                     [active]="tabs[3].active"
                     [disabled]="tabs[3].disabled"
                     (select)="tabs[3].active = true"
                     (deselect)="tabs[3].active = false">
                </tab>
            </tabset>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-4">
                    <img class="navbar-brand img-circle img-decoration" alt="Brand" [src]="app.selectedUser?.ProfileImage || app.user.ProfileImage" />
                </div>
                <div class="col-md-8">
                    <span id="firstname" class="requisites-decoration">{{app.selectedUser?.Firstname || app.user.Firstname}}</span>
                    <span id="lastname" class="requisites-decoration">{{app.selectedUser?.Lastname || app.user.Lastname}}</span>
                </div>
            </div>
            <div *ngIf="quote" style="margin-top: 5px;">
                <blockquote>
                    <p>{{quote?.Content}}</p>
                    <footer>{{quote?.Author}}</footer>
                </blockquote>
            </div>
            <div *ngIf="photos" style="margin-top: 5px;">
                <div (click)="openPhotos()"
                     class="headerline-decoration">Photos</div>
                <div class="row row-padding">
                    <div *ngFor="#photo of photos | iterateto: {to: 4}" class="col-md-3 photos-decoration col-no-padding">
                        <img (click)="openGallery($event)"
                             src="{{photo.Path}}" />
                    </div>
                </div>
            </div>
            <div *ngIf="conversations" style="margin-top: 5px;">
                <div class="headerline-decoration">Last conversations</div>
                <div class="row row-padding">
                    <div *ngFor="#conversation of conversations | iterateto: {to: 6}" id="search-board" class="col-md-2 col-no-padding">
                        <div (click)="app._searchComponent.selectDeselectSearchUser($event)" 
                            class="center-child-div">
                            <img id="profile-image" class="navbar-brand img-circle without-padding" src="{{conversation.User.ProfileImage}}" />
                            <span class="profile-image-text">
                                <span *ngIf="app.selectedUser == null">Profile</span>
                            </span>
                            <img [hidden]="!conversation.User.Online" src="images/app/controls/online.png" class="online-img-decoration" />
                        </div>
                        <div class="center-child-div">{{conversation.User.Firstname}}</div>
                        <div [hidden]="!visible">{{conversation.User.JWT}}</div>
                    </div>
                    </div>
                </div>
            <a *ngIf="!app.selectedUser"
               (click)="logout()"
               class="btn btn-danger comp-decoration" href="#" role="button">Logout</a>
        </div>
    </div>
    <div *ngIf="isOpenPhotos" class="row">
        <div class="col-md-12 main-column-decoration">
            <profilemenu-photos [photos]="photos"
                                (onBack)="onBackPhotos()"></profilemenu-photos>
        </div>
    </div>
</div>
