.comp-decoration {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.main-column-decoration {
    margin-top: 10px;
}
.img-decoration {
    height: 90px;
    width: 90px;
    padding: 0;
}
.requisites-decoration {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    border-bottom: 1px solid #ddd;
}
.headerline-decoration {
    cursor: pointer;
    background-color: #eee;
    padding-left: 10px;
}
.headerline-nobackground {
    font-size: 17px;
}
.photos-decoration img {
    cursor: pointer;
    max-width: 100%;
}
.photos-decoration img:hover {
    cursor: pointer;
    max-width: 100%;
}
blockquote {
    font-size: 16px;
    margin-bottom: 10px;
}
.row .col-no-padding {
    padding-left: 0 !important;
    padding-right: 1px !important;
}
.row-padding {
    padding-top: 2px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.row-no-padding {
    margin-top: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.header-fixed {
    position: fixed;
    background-color: white;
    left: 72.87%;
    right: 0;
    margin-left: -15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    padding-bottom: 5px;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}
.header-fixed img {
    height: 25px;
}
.menu-5px-margin {
    margin-top: 5px;
}
.block-center {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.question-buttons:hover {
    cursor:pointer;
    background-color: #eee;
}
.decline {
    width: 35px;
    padding: 5.5px;
}
.exit-profile-button {
    z-index: 3;
    position: absolute;
    top: 10px;
    right: 5px;
}
.exit-profile-button:hover {
    cursor: pointer;
}
.question-arrow:hover {
    cursor: pointer;
}

::-webkit-input-placeholder { font-size: 13px; padding-left: 5px; }
::-moz-placeholder { font-size: 13px; padding-left: 5px; }
:-ms-input-placeholder { font-size: 13px; padding-left: 5px; }
input:-moz-placeholder { font-size: 13px; padding-left: 5px; }