<div id="profilemenu" class="container-fluid">
    <div (click)="onExitProfile()"
         class="fa fa-times fa-lg exit-profile-button"></div>
    <div *ngIf="!isOpenPhotos && !isOpenConversations" class="row">
        <div class="col-md-12 main-column-decoration">
            <tabset>
                <tab [heading]="tabs[0].title"
                     [active]="tabs[0].active"
                     [disabled]="tabs[0].disabled"
                     (select)="tabs[0].active = true"
                     (deselect)="tabs[0].active = false">

                    <div class="row menu-5px-margin">
                        <div class="col-md-4">
                            <img [src]="app.selectedUser?.ProfileImage || app.user.ProfileImage"
                                 class="navbar-brand img-circle img-decoration" alt="Brand" />
                        </div>
                        <div class="col-md-8">
                            <span id="firstname" class="requisites-decoration">{{app.selectedUser?.Firstname || app.user.Firstname}}</span>
                            <span id="lastname" class="requisites-decoration">{{app.selectedUser?.Lastname || app.user.Lastname}}</span>
                        </div>
                    </div>
                    <div *ngIf="quote" class="menu-5px-margin">
                        <blockquote>
                            <p>{{quote?.Content}}</p>
                            <footer>{{quote?.Author}}</footer>
                        </blockquote>
                    </div>
                    <div *ngIf="purpose" class="block-center">
                        <div class="headerline-nobackground">I WANT TO BLIND WITH</div>
                        <span dropdown>
                            <input dropdownToggle type="text" id="gender-dropdown" placeholder="Gender" readonly
                                   [value]="gender"
                                   [size]="gender?.length || 6" />
                            <span>for</span>
                            <ul class="dropdown-menu" dropdownMenu aria-labelledby="gender-dropdown">
                                <li *ngFor="#gender of genders">
                                    <a id="gender" class="dropdown-item"
                                       (click)="dropdownSelect($event)">{{gender}}</a>
                                </li>
                            </ul>
                        </span>
                        <span dropdown>
                            <input dropdownToggle type="text" id="relation-dropdown" placeholder="Relationship" readonly
                                   [value]="relation"
                                   [size]="relation?.length || 11" />
                            <ul class="dropdown-menu" dropdownMenu aria-labelledby="relation-dropdown">
                                <li *ngFor="#relation of relationships">
                                    <a id="relation" class="dropdown-item"
                                       (click)="dropdownSelect($event)">{{relation}}</a>
                                </li>
                            </ul>
                        </span>
                        <div>
                            <span dropdown>
                                <input dropdownToggle type="text" id="agefrom-dropdown" placeholder="From" readonly
                                       [value]="age.from"
                                       [size]="age.from?.length || 4" />
                                <span>to</span>
                                <ul class="dropdown-menu" dropdownMenu aria-labelledby="agefrom-dropdown">
                                    <li *ngFor="#age of ages">
                                        <a id="age-from" class="dropdown-item"
                                           (click)="dropdownSelect($event)">{{age}}</a>
                                    </li>
                                </ul>
                            </span>
                            <span dropdown>
                                <input dropdownToggle type="text" id="ageto-dropdown" placeholder="To" readonly
                                       [value]="age.to"
                                       [size]="age.to?.length || 2" />
                                <ul class="dropdown-menu" dropdownMenu aria-labelledby="ageto-dropdown">
                                    <li *ngFor="#age of ages">
                                        <a id="age-to" class="dropdown-item"
                                           (click)="dropdownSelect($event)">{{age}}</a>
                                    </li>
                                </ul>
                            </span>
                            <span>years old</span>
                        </div>
                        <div>
                            <span>In</span>
                            <span dropdown>
                                <input dropdownToggle type="text" id="country-dropdown" placeholder="Country"
                                       [(ngModel)]="country"
                                       [size]="country?.length || 7"
                                       (keyup)="searchDropdownInput($event)" />
                                <ul class="dropdown-menu" dropdownMenu aria-labelledby="country-dropdown">
                                    <li *ngFor="#country of countries">
                                        <a id="country" class="dropdown-item"
                                           (click)="dropdownSelect($event)">{{country}}</a>
                                    </li>
                                </ul>
                            </span>
                            <span dropdown>
                                <input dropdownToggle type="text" id="city-dropdown" placeholder="City"
                                       [(ngModel)]="city"
                                       [size]="city?.length || 4"
                                       (keyup)="searchDropdownInput($event)" />
                                <ul class="dropdown-menu" dropdownMenu aria-labelledby="city-dropdown">
                                    <li *ngFor="#city of cities">
                                        <a id="city" class="dropdown-item"
                                           (click)="dropdownSelect($event)">{{city}}</a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div *ngIf="question" class="menu-5px-margin block-center">
                        <div class="headerline-nobackground">MY QUESTIONS FOR YOU</div>
                        <span>{{question}}</span>
                        <div *ngIf="app.selectedUser">
                            <img [src]="acceptIconPath"
                                 (click)="onAcceptQuestion()"
                                 class="question-buttons" />
                            <img [src]="declineIconPath"
                                 (click)="onDeclineQuestion()"
                                 class="question-buttons decline" />
                        </div>
                    </div>
                    <div>
                        <div *ngIf="photos" class="menu-5px-margin">
                            <div (click)="openPhotos()"
                                 class="headerline-decoration">Photos</div>
                            <div class="row row-padding">
                                <div *ngFor="#photo of photos | iterateto: {to: 4}" class="col-md-3 photos-decoration col-no-padding">
                                    <img (click)="openGallery($event)"
                                         src="{{photo.Path}}" />
                                </div>
                            </div>
                        </div>
                        <div *ngIf="conversations" class="menu-5px-margin">
                            <div (click)="openConversations()"
                                 class="headerline-decoration">Last conversations</div>
                            <div class="row row-padding">
                                <div *ngFor="#conversation of conversations | iterateto: {to: 6}" id="search-board" class="col-md-2 col-no-padding">
                                    <div (click)="app._searchComponent.selectDeselectSearchUser($event)"
                                         class="center-child-div">
                                        <img id="profile-image" class="navbar-brand img-circle without-padding"
                                             src="{{conversation.User.ProfileImage}}" />
                                        <span class="profile-image-text">
                                            <span *ngIf="app.selectedUser == null">Profile</span>
                                        </span>
                                        <img [hidden]="!conversation.User.Online" src="images/app/controls/online.png" class="online-img-decoration" />
                                    </div>
                                    <div class="center-child-div">{{conversation.User.Firstname}}</div>
                                    <div [hidden]="!visible">{{conversation.User.JWT}}</div>
                                </div>
                            </div>
                        </div>
                        <a *ngIf="!app.selectedUser"
                           (click)="logout()"
                           class="btn btn-danger comp-decoration" href="#" role="button">Logout</a>
                    </div>
                </tab>
                <tab [heading]="tabs[1].title"
                     [active]="tabs[1].active"
                     [disabled]="tabs[1].disabled"
                     (select)="tabs[1].active = true"
                     (deselect)="tabs[1].active = false">
                </tab>
                <tab [heading]="tabs[2].title"
                     [active]="tabs[2].active"
                     [disabled]="tabs[2].disabled"
                     (select)="tabs[2].active = true"
                     (deselect)="tabs[2].active = false">
                </tab>
                <tab *ngIf="!app?.selectedUser"
                     [heading]="tabs[3].title"
                     [active]="tabs[3].active"
                     [disabled]="tabs[3].disabled"
                     (select)="tabs[3].active = true"
                     (deselect)="tabs[3].active = false">
                    <template tabHeading>
                        <i class="fa fa-bell-o fa-lg"
                           [class]="bellClass"></i>
                    </template>
                    <profilemenu-notifications [app]="app"
                                               [notifications]="notifications">
                    </profilemenu-notifications>
                </tab>
            </tabset>
        </div>
    </div>
    <div *ngIf="isOpenPhotos" class="row">
        <div class="col-md-12 main-column-decoration">
            <profilemenu-photos [photos]="photos"
                                (onBack)="onBackPhotos()">

            </profilemenu-photos>
        </div>
    </div>
    <div *ngIf="isOpenConversations" class="row">
        <div class="col-md-12 main-column-decoration">
            <profilemenu-conversations [app]="app"
                                       [conversations]="conversations"
                                       (onBack)="onBackConversations()">

            </profilemenu-conversations>
        </div>
    </div>
</div>
