.center-child-div {
    display: table;
    position: relative;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
    cursor: pointer;
}
.center-child-div .profile-image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
}
.center-child-div .online-img-decoration {
    position:absolute;
    top: 0;
    left: 0;
}
.center-child-div .profile-image-text:hover {
    opacity: 1;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.center-image {
    float: none;
}
.without-padding {
    width: 50px;
    padding: 0;
}
span.profile-image-text span {
    text-align: center;
    color: white;
}
span.profile-image-text .cross-decoration {
    font-size: 24px;
    color: white;
}
.search-not-found-decoration {
    font-size: 18px;
    text-align: center;
}